:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}
html {
    font-family: system-ui, sans-serif;
    background: #ffffff;
    background-size: 224px;
}
main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);

    font-size: 20px;
    line-height: 1.6;
}



.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18ch, 2fr));
    gap: 1rem;
    padding: 0;
}