---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Gallery from "../components/Gallery";
import "../styles/index.css";
---

<Layout title="Bienvenido a Peludogs">
  <main id="home">
    <div class="w-full rounded-lg overflow-hidden">
      <video width="100%" height="auto" autoplay loop muted>
        <source src="/peludogs/assets/video/gosbi_publi.mp4" type="video/mp4" />
        Tu navegador no soporta el elemento de video.
      </video>
    </div>

    <section id="services" class="my-8">
      <div class="flex items-center">
        <div class="flex-grow h-0.5 bg-green-700"></div>
        <h1 class="px-4 text-2xl font-bold text-neutral-700">
          Nuestros servicios
        </h1>
        <div class="flex-grow h-0.5 bg-green-700"></div>
      </div>
      <div class="container mx-auto px-4 py-4">
        <nav class="flex mb-4 justify-center">
          <button class="text-3xl text-gray-600 py-2 px-4 focus:outline-none"
            ><i class="fa-solid fa-scissors text-gray-600"></i></button
          >
          <button class="text-3xl text-gray-600 py-2 px-4 focus:outline-none"
            ><i class="fa-solid fa-paw text-gray-600"></i></button
          >
          <button class="text-3xl text-gray-600 py-2 px-4 focus:outline-none"
            ><i class="fa-solid fa-shower text-gray-600"></i></button
          >
        </nav>
        <div class="grid md:grid-cols-3 grid-rows-1 gap-4 md:divide-x">
          <Card
            title="Peluquería"
            imageSrc="/peludogs/assets/images/servicio_1.jpg"
            description="Transformamos a tu mascota en una estrella con cortes personalizados que destacan su belleza y aseguran su comodidad. Utilizamos productos suaves y técnicas profesionales para que tu amigo luzca y se sienta espectacular."
          />
          <Card
            title="Corte de uñas"
            imageSrc="/peludogs/assets/images/servicio_2.jpg"
            description="Nos enfocamos en la salud de las patas de tu mascota con un servicio de corte de uñas rápido, seguro y cómodo, evitando molestias y promoviendo una marcha saludable."
          />
          <Card
            title="Baño"
            imageSrc="/peludogs/assets/images/servicio_3.jpg"
            description="Ofrecemos un baño que es más que una limpieza, es una experiencia de mimos y relajación. Usamos champús especiales para cuidar la piel y el pelo de tu mascota, dejándola con un aroma fresco y un pelaje suave y brillante."
          />
        </div>
      </div>
    </section>

    <section id="products" class="mt-8">
      <div class="flex items-center">
        <div class="flex-grow h-0.5 bg-green-700"></div>
        <h1 class="px-4 text-2xl font-bold text-neutral-700">
          Nuestros productos
        </h1>
        <div class="flex-grow h-0.5 bg-green-700"></div>
      </div>
      <nav class="flex mb-4 justify-center">
        <button class="text-3xl text-gray-600 py-2 px-4 focus:outline-none"
          ><i class="fa-solid fa-bowl-food text-gray-600"></i></button
        >
        <button class="text-3xl text-gray-600 py-2 px-4 focus:outline-none"
          ><i class="fa-solid fa-bone text-gray-600"></i></button
        >
        <button class="text-3xl text-gray-600 py-2 px-4 focus:outline-none"
          ><i class="fa-solid fa-futbol text-gray-600"></i></button
        >
      </nav>
      <ul role="list" class="link-card-grid my-4">
        <Card
          title="Comida para perros"
          imageSrc="/peludogs/assets/images/producto_1.jpg"
          description="Nutre a tu fiel amigo con nuestra selección premium de alimentos para perros."
        />
        <Card
          title="Snacks y Chuches"
          imageSrc="/peludogs/assets/images/producto_2.jpg"
          description="Consiente a tu perro con nuestros deliciosos snacks y chuches."
        />
        <Card
          title="Accesorios y Juguetes"
          imageSrc="/peludogs/assets/images/producto_3.jpg"
          description="Descubre el paraíso de los juguetes y accesorios para tu perro en nuestra tienda."
        />
      </ul>
    </section>

    <section id="gallery" class="mt-8">
      <div class="flex items-center">
        <div class="flex-grow h-0.5 bg-green-700"></div>
        <h1 class="px-4 text-2xl font-bold text-neutral-700">Galería</h1>
        <div class="flex-grow h-0.5 bg-green-700"></div>
      </div>
      <div
        class="flex items-center mt-8 bg-white rounded-lg shadow-lg overflow-hidden group relative p-6"
      >
        <Gallery client:load />
      </div>
    </section>

    <section id="testimonies" class="mt-8">
      <div class="flex items-center">
        <div class="flex-grow h-0.5 bg-green-700 mb-4"></div>
        <h1 class="px-4 text-2xl font-bold text-neutral-700">
          Nuestros clientes opinan
        </h1>
        <div class="flex-grow h-0.5 bg-green-700"></div>
      </div>
      <div
        class="mt-8 bg-white rounded-lg shadow-lg overflow-hidden group relative p-6"
      >
        <script
          src="https://static.elfsight.com/platform/platform.js"
          data-use-service-core
          defer
          is:inline></script>
        <div
          class="elfsight-app-b5b171a3-026e-40d5-a8c0-8d8602e30140"
          data-elfsight-app-lazy
        >
        </div>
      </div>
    </section>

    <section id="contact" class="mt-8">
      <div class="flex items-center">
        <div class="flex-grow h-0.5 bg-green-700"></div>
        <h1 class="px-4 text-2xl font-bold text-neutral-700">Contacto</h1>
        <div class="flex-grow h-0.5 bg-green-700"></div>
      </div>
      <div
        class="container mx-auto p-6 bg-white rounded-lg shadow-lg overflow-hidden group relative"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
          <div>
            <form
              action="/send-form"
              method="POST"
              class="flex flex-col space-y-4"
            >
              <input
                type="text"
                name="name"
                placeholder="Nombre"
                class="border p-2 rounded"
              />
              <input
                type="email"
                name="email"
                placeholder="Correo electrónico"
                class="border p-2 rounded"
              />
              <input
                type="text"
                name="subject"
                placeholder="Asunto"
                class="border p-2 rounded"
              />
              <textarea
                name="message"
                placeholder="Mensaje"
                class="border p-2 rounded"
                rows="5"></textarea>
              <button
                type="submit"
                class="bg-green-700 hover:bg-green-500 text-white font-bold py-2 px-4 rounded"
                >Enviar</button
              >
            </form>
          </div>
          <div class="mb-6 mt-4">
            <p class="font-semibold text-gray-800">Peludogs</p>
            <p class="text-gray-600">
              Calle Sgto. Provisional, 61, 38010 Santa Cruz de Tenerife
            </p>
            <p class="text-gray-600">
              Teléfono: <a href="tel:+34658307250" class="hover:text-green-700"
                >+34 658 30 72 50</a
              >
            </p>
            <p class="text-gray-600">Email: contacto@peludogs.com</p>
            <p class="text-gray-600">Horario: L - V 10:00-18:00</p>

            <button
              class="bg-green-700 hover:bg-green-500 w-full text-white font-bold mt-4 py-2 px-4 rounded"
              >Pedir cita</button
            >
          </div>
        </div>
        <div class="mt-6">
          <iframe
            class="w-full h-96 rounded-lg border-0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3507.9827536216744!2d-16.29310568733697!3d28.449936275664005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc41cce6ff792e31%3A0x82464fe4aa632831!2sCalle Sgto. Provisional%2C 61%2C 38010 Santa Cruz de Tenerife!5e0!3m2!1ses!2ses!4v1711817526455!5m2!1ses!2ses"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </section>
  </main>
</Layout>

<script src="/src/utils/hideElfsightWidget.js"></script>
