<footer class="text-neutral-700 px-4 py-4 border-t-2 border-green-700 sticky bottom-0 bg-white">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <!-- Información de contacto y social -->
      <!-- <div class="mb-4 md:mb-0">
        <p>Peludogs - La mejor atención para tu mejor amigo</p>
        <p>contacto@peludogs.com | Teléfono: +123 456 7890</p>
      </div>
   -->
      <!-- Redes sociales -->
      <div class="flex space-x-4">
        <a href="#" aria-label="Facebook" class="hover:text-gray-300">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="#" aria-label="Instagram" class="hover:text-gray-300">
         <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#" aria-label="Twitter" class="hover:text-gray-300">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
            <!-- Icono de Twitter -->
          </svg>
        </a>
      </div>
    </div>
  
    <!-- Derechos de autor y enlaces legales -->
    <div class="text-center mt-4 md:mt-2">
      <p>&copy; 2024 Peludogs. Todos los derechos reservados.</p>
      <p>
        <a href="/privacy" class="hover:text-gray-300">Política de privacidad</a> | 
        <a href="/terms" class="hover:text-gray-300">Términos y condiciones</a>
      </p>
    </div>
  </footer>
  