<header
  class="text-neutral-700 flex items-center justify-between px-4 py-1 border-b-2 border-green-700"
>
  <!-- Logotipo -->
  <img
    src="peludogs/assets/logos/logo.png"
    alt="Peludogs"
    class="h-12 md:h-24 logoPosition"
  />

  <!-- Botón de menú hamburguesa (visible solo en móvil) -->
  <button class="md:hidden p-2" aria-label="Toggle menu" id="menuButton">
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16m-7 6h7"></path></svg
    >
  </button>

  <!-- Navegación (oculta en móvil y se muestra como desplegable) -->
  <nav
    class="hidden w-full md:flex md:justify-center md:items-center"
    id="menu"
  >
    <ul class="flex flex-col md:flex-row md:space-x-4 ulHeader">
      <li>
        <a href="#home" class="block px-2 py-1 textHover">Inicio</a>
      </li>
      <li>
        <a href="#services" class="block px-2 py-1 textHover">Servicios</a>
      </li>
      <li>
        <a href="#products" class="block px-2 py-1 textHover">Productos</a>
      </li>
      <li>
        <a href="#gallery" class="block px-2 py-1 textHover">Galería</a>
      </li>
      <li>
        <a href="#testimonies" class="block px-2 py-1 textHover">Testimonios</a>
      </li>
      <li>
        <a href="#contact" class="block px-2 py-1 textHover">Contacto</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("menuButton");
    const menu = document.getElementById("menu");
    const links = menu?.querySelectorAll("a");
    const offset = -100; // Ajusta este valor según lo que necesites

    menuButton?.addEventListener("click", () => {
      menu?.classList.toggle("hidden");
    });

    links?.forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault();
        const targetId = link.getAttribute("href")?.substring(1) || "";
        const targetSection = document.getElementById(targetId);

        if (targetSection) {
          const sectionTop =
            targetSection.getBoundingClientRect().top +
            window.scrollY + // Reemplazado pageYOffset por scrollY
            offset;
          window.scrollTo({ top: sectionTop, behavior: "smooth" });
        }
      });
    });
  });
</script>
