<header
  class="text-neutral-700 flex items-center justify-between px-4 py-1 border-b-2 border-green-700"
>
  <!-- Logotipo -->
  <img
    id="logo"
    src="/peludogs/assets/logos/logo.png"
    alt="Peludogs"
    class="h-12 md:h-24 logoPosition"
  />
  <!-- Botón de menú hamburguesa (visible solo en móvil) -->
  <button
    class="md:hidden p-2 mr-2 shadow flex flex-col items-center"
    aria-label="Toggle menu"
    id="menuButton"
  >
    <i class="fa-solid fa-paw"></i>
    <i class="fa-solid fa-ellipsis icon-fa-ellipsis"></i>
  </button>
  <!-- Título visible solo en móvil -->
  <h1
    class="header-title-mobile text-lg font-bold font-serif underline md:hidden"
  >
    Peludogs
  </h1>
  <span class="md:hidden text-center">
    <img
      id="logo-mobile"
      src="/peludogs/assets/logos/logo.png"
      alt="Peludogs"
      class="h-11"
    />
  </span>

  <!-- Navegación (oculta en móvil y se muestra como desplegable) -->
  <nav
    class="hidden w-full md:flex md:justify-center md:items-center"
    id="menu"
  >
    <ul class="flex flex-col md:flex-row md:space-x-4 ulHeader">
      <li>
        <a href="#home" class="block px-2 py-1 textHover">Inicio</a>
      </li>
      <li>
        <a href="#services" class="block px-2 py-1 textHover">Servicios</a>
      </li>
      <li>
        <a href="#products" class="block px-2 py-1 textHover">Productos</a>
      </li>
      <li>
        <a href="#gallery" class="block px-2 py-1 textHover">Galería</a>
      </li>
      <li>
        <a href="#testimonies" class="block px-2 py-1 textHover">Testimonios</a>
      </li>
      <li>
        <a href="#contact" class="block px-2 py-1 textHover">Contacto</a>
      </li>
    </ul>
  </nav>
  <!-- Botón de "Pedir Cita" (visible solo en escritorio) -->
  <a
    href="#contact"
    class="contactButtonPosition hidden md:inline-block bg-green-700 text-white font-bold py-2 px-4 rounded hover:bg-green-800"
  >
    Pedir Cita
  </a>
</header>

<script src="../utils/header.js"></script>
